:root {
    --body-font: 'Figtree', sans-serif;

    --primary-color: rgb(79, 84, 82);
    --color-body: #f6f5f9;
    --color-header: #061b25;
    --color-text: var(--color-header);
    --color-text-muted: #a4d0e3;
    --color-input: #082937;
    --color-input-lighter: #0b374a;
    --color-secondary: #ffbc42;
    --color-secondary-darker: #cc7035;
    --color-secondary-lighter: #ffa368;
    --color-tertiary: #1c8988;
    --color-text-badge: #e8f3f8;
    --color-disabled: #d2e7f1;
    --color-text-disabled: #7788d4;

    --global-border-radius: 6px;
    --global-transition: all 0.2s ease-in-out;
}
html {
    font-size: 18px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--color-body);
    font-family: var(--body-font);
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-header);
    padding: 1em;
}
.container {
   padding: 0 1.5rem;
    width: 50%;
    min-width: 275px;  
}
.container h1 {
    margin-bottom: .75em;
    color: #fff;
}
form {
    display: flex;
    gap: 1.5em;
}
input {
    border: none;
    flex-basis: 75%;
    height: 3em;
    background-color: rgb(67, 66, 73);
    color: var(--color-body);
    padding-left: 1em;
}
input::placeholder {
    color: var(--color-body);
}
form button {
    color: var(--color-body);
    flex-basis: 25%;
    background-color: var(--color-secondary);
    border-radius: var(--global-border-radius);
}
section {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}
.stats {
    list-style: none;
    display: flex;
    gap: 1em;
    font-size: 0.8rem;
}
.stats li {
    padding: .5em;
    color: white;
}
.stats li span:first-child {
    padding: .5em;
    border-radius: var(--global-border-radius) 0 0 var(--global-border-radius);
    background-color: var(--primary-color);
}
.stats li span:last-child {
    padding: .5em .75em;
    border-radius: 0 .5em .5em 0;
    background-color: var(--color-tertiary);
}
#todos {
    margin-bottom: 4rem;
    list-style: none;
    margin-top: 2rem;
}
#todos li {
    background-color: #fff;
    border-radius: var(--global-border-radius);
    margin-bottom: 1rem;
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#todos li div {
    display: flex;
    align-items: center;
    gap: .75rem;
}
#todos li.completed {
    background-color:var(--color-disabled);
    text-decoration: line-through;
    color: var(--color-text-disabled);
}
input[type="checkbox"] {
    appearance: none;
    margin: 0;
    background-color: transparent;
    width: 1.5rem;
    height: 1.5rem;
    max-width: 25px;
    border: 1px solid var(--color-text);
    border-radius: 100%;
    display: grid;
    place-content: center;
    transition: var(--global-transition);
}
input[type="checkbox"]::before {
    content: url("https://api.iconify.design/ic:outline-check.svg");
    transform: scale(0);
    transition: var(--global-transition);
}

input[type="checkbox"]:checked {
    background-color: var(--color-text-disabled);
    border-color: var(--color-text-disabled);
}
input[type="checkbox"]:checked::before {
    transform: scale(1);
    stroke: var(--color-body);
}
#todos li button {
    border: 0;
    padding: 0.25rem;
    display: grid;
    place-content: center;
    background-color: transparent;
}
#todos li button svg {
    width: 1.25rem;
    height: 1.25rem;
}
#todos li button svg path {
    transition: var(--global-transition);
}
#todos li button:hover svg path {
    stroke: var(--color-text);
    cursor: pointer;
}
#todos li button:active svg path {
    transform: scale(.8);
}
#todos li span {
    padding: 2px;
    border-radius: var(--global-border-radius);
    transition: var(--global-transition);
}
#todos li span:focus {
    background-color: var(--color-body);
    outline: none;
}
#todos li span[contenteditable]:hover{
    background-color: var(--color-body);
}

@media screen and (max-width: 768px) {
    .container {
        width: 60%;
        margin: 0 auto;
        position: relative;
    }
    #todo-form {
        flex-direction: column;
    }
    #todo-form input{
        flex-grow: 1;
        padding: 1em;
    }
    #todo-form button {
        flex-basis: 100%;
        padding: .75em;
    }
    .stats {
        flex-direction: column;

    }
}